{% extends 'people/base.html' %}



{% block content %}
    <p>
    If == 1 : {% for item in list %} {% if item == 1 %} {{item}} {% endif %} {% endfor %} <br>
    If > 1 : {% for item in list %} {% if item > 1 %} {{item}} {% endif %} {% endfor %} <br>
    If "!" in "Hello, world!" : {% if "!" in test_str %} True {% endif %} <br><br>

    filter Comment : {% comment %} эта магия {% endcomment %} <br>
    filter uppercase : {% filter force_escape|upper %} uppercase {% endfilter %} <br>
    filter Firstof('' 0 False 'not False') : {% firstof '' 0 False 'not False' %} <br>
    filter capfirst : {{ str|capfirst }} <br>
    str|add:"-_-" : {{str|add:"-_-"}} <br><br>

    for in list : {% for item in list %} {{item}} {% endfor %} <br>
    reversed for in list : {% for item in list reversed %} {{item}} {% endfor %} <br>
    Length list : {% for loop in "1" %} {{list|length}} {% endfor %} <br><br>

    forloop.counter in list : {% for item in list %} {{forloop.counter}} {% endfor %} <br>
    forloop.counter0 in list : {% for item in list %} {{forloop.counter0}} {% endfor %} <br>
    forloop.revcounter in list : {% for item in list %} {{forloop.revcounter}} {% endfor %} <br>
    forloop.first in list : {% for item in list %} {{item}}({{forloop.first}}) {% endfor %} <br>
    forloop.last in list : {% for item in list %} {{item}}({{forloop.last}}) {% endfor %} <br><br>

    filter "Hello, world!" cut (", ") : {{ test_str|cut:", " }}
    </p>
{% endblock %}