{% extends 'people/base.html' %}

{% block content_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'people/css/portfolio.css' %}">
{% endblock %}

{% block content %}
     <div class="portfolio-container">
        <h1>{{title}}</h1>

        <ul class="list-articles">
        {% for p in posts %}
            <div class="frame">
            <li>
                <div class="article-panel">
                    <p class="last">Дата публикации: {{p.creation_date|date:"d-m-Y"}}</p>
                </div>

            {% if p.photo %}
                <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
            {% endif %}

                    <h2>{{p.user}}</h2>
            <div class="text-description">
                {% autoescape on %}
                {{p.description|linebreaks|truncatewords:50}}
                {% endautoescape %}
            </div>
                <div class="clear">
                    <a class="look" href="{{ p.get_absolute_url }}">Смотреть</a>
                </div>
                </li>
            </div>
            <br>
        {% endfor %}
        </ul>

     </div>
{% endblock %}
