{% extends 'people/base.html' %}

{% block content_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'people/css/portfolio_slug.css' %}">
{% endblock %}


{% block content %}
<div class="portfolio-container">

    <h1>{{title}} пользователя {{portfolio.user}}</h1>

    <div class="content">

        <p class="skills">Навыки: {{portfolio.skills}} </p>

        <p class="description">{{portfolio.description}}</p>

            {% for achievement in academic_achievements %}
                <img src="{{ achievement.image.url }}" alt="Achievement Image">
            {% endfor %}
    </div>
</div>
{% endblock %}