{% extends 'people/base.html' %}

{% block content_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'people/css/portfolio_slug.css' %}">
{% endblock %}


{% block content %}
<div class="portfolio-container">

    <h1>{{title}}</h1>

    <div class="content">

        {% if post.skills %}
            <p class="skills">Навыки: {{post.skills}} </p>
        {% endif %}
        {% if post.description %}
            <p class="description">{{post.description}}</p>
        {% endif %}



        <div class="clear">
            <a class="look" href="{% url 'add_academic' %}">Добавить достижение</a>
        </div>

    </div>

    <form action="{% url 'delete_portfolio' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="but-delete">Удалить портфолио</button>
    </form>

</div>
{% endblock %}