{% extends 'people/base.html' %}

{% block content_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'people/css/portfolio_slug.css' %}">
{% endblock %}


{% block content %}
<div class="portfolio-container">

    <h1>{{title}}</h1>

    <div class="content">

        <p class="skills">Навыки: {{portfolio.skills}} </p>

        <p class="description">{{portfolio.description}}</p>



        <div class="card">
            <div class="clear">
                <a class="look" href="/{{show_academic_achievements}}">Академические достижения</a>
            </div>
            <div class="clear">
                <a class="look" href="/{{show_creative_achievements}}">Творческие достижения</a>
            </div>
            <div class="clear">
                <a class="look" href="/{{show_sport_achievements}}">Спортивные достижения</a>
            </div>

            <div class="clear">
                <a class="look" href="/{{show_social_activity}}">Общественная активность</a>
            </div>
            <div class="clear">
                <a class="look" href="/{{show_personal_achievements}}">Личные достижения</a>
            </div>
        </div>

            {% for achievement in academic_achievements %}
            <div class="card">
                <img src="{{ achievement.image.url }}" alt="Achievement Image">
            </div>
            {% endfor %}
    </div>

    <form action="{% url 'delete_portfolio' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="but-delete">Удалить портфолио</button>
    </form>

    <div class="clear">
            <a class="look" href="{% url 'add_academic' %}">Добавить достижение</a>
    </div>

</div>
{% endblock %}