{% extends 'people/base.html' %}

{% block content_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'people/css/portfolio_slug.css' %}">
{% endblock %}


{% block content %}
<div class="portfolio-container">

    <h1>{{title}}</h1>

    <div class="content">

        {% if post.skills %}
            <p class="skills">Навыки: {{post.skills}} </p>
        {% endif %}
        {% if post.description %}
            <p class="description">{{post.description}}</p>
        {% endif %}



        <div class="card">
            {% if post.photo_1 %}
                <img class="img-article" src="{{post.photo_1.url}}">
            {% endif %}
            {% if post.link_1 %}
                <a class="look" href="{{ post.link_1 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

        <div class="card">
            {% if post.photo_2 %}
                <img class="img-article" src="{{post.photo_2.url}}">
            {% endif %}
            {% if post.link_2 %}
                <a class="look" href="{{ post.link_2 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

        <div class="card">
            {% if post.photo_3 %}
                <img class="img-article" src="{{post.photo_3.url}}">
            {% endif %}
            {% if post.link_3 %}
                <a class="look" href="{{ post.link_3 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

        <div class="card">
            {% if post.photo_4 %}
                <img class="img-article" src="{{post.photo_4.url}}">
            {% endif %}
            {% if post.link_4 %}
                <a class="look" href="{{ post.link_4 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

        <div class="card">
            {% if post.photo_5 %}
                <img class="img-article" src="{{post.photo_5.url}}">
            {% endif %}
            {% if post.link_5 %}
                <a class="look" href="{{ post.link_5 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

        <div class="card">
            {% if post.photo_6 %}
                <img class="img-article" src="{{post.photo_6.url}}">
            {% endif %}
            {% if post.link_6 %}
                <a class="look" href="{{ post.link_6 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

        <div class="card">
            {% if post.photo_7 %}
                <img class="img-article" src="{{post.photo_7.url}}">
            {% endif %}
            {% if post.link_7 %}
                <a class="look" href="{{ post.link_7 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

        <div class="card">
            {% if post.photo_8 %}
                <img class="img-article" src="{{post.photo_8.url}}">
            {% endif %}
            {% if post.link_8 %}
                <a class="look" href="{{ post.link_8 }}">Перейти по ссылке</a>
            {% endif %}
        </div>

    </div>

    <form action="{% url 'delete_portfolio' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="but-delete">Удалить портфолио</button>
    </form>

</div>
{% endblock %}