p {
    font-size: 20px;
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1055px;
}

.card {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-label {
    color: #333;
    font-size: 21px;
    display: flex;
    align-items: flex-start;
}

textarea {
    background-color: rgb(216, 216, 216);
    color: #333;
    font-size: 18px;
    margin-top: 15px;
}

input {
    background-color: #333;
    color: rgb(216, 216, 216);
    font-size: 18px;
    border: 1px solid black;
    border-radius: 7.5px;
    outline: none;
    padding: 5px;
}

button {
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 40px;
    font-weight: var(400);
    font-size: 18px;
    line-height: 16.94px;
    letter-spacing: 2%;
    color: #333;
    background-color: rgb(216, 216, 216);
    transition: all ease 0.5s;
    margin-bottom: 100px;
    margin-top: 10px;
    border-radius: 4px;
}

button:hover {
    color: rgb(216, 216, 216);
    background-color: #333;
    transition: all ease 0.5s;
}